body {
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
}

.widecol {
	height: 100%;
	width: 50%;
	display: block;
	border-right: 5px black solid;
}

.widecol2{
	height: 100%;
	width: 50%;
	display: flex;
}

.title {
	height: 20%;
	width: 100%;
	display: flex;
	background-color: #1E7626;
	font-size: 80px;
	color: white;
	font-family: 'Staatliches', cursive;
	align-items: center;
	justify-content: center;
	
}

.mainimg {
	height: 60%;
	width: 100%;
	display: flex;
	background-color: #E0FFFF;
}

.oregon {
	display: flex;
	max-height: 100%;
	max-width: 100%;
	margin-top: 80px;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
}

.places {
	height: 20%;
	width: 100%;
	display: flex;
}

.smallboxes {
	height: 100%;
	width: 25%;
	display: flex;
	background-color: #1E7626;
	font-size: 40px;
	text-align: center;
	color: white;
	font-family: 'Staatliches', cursive;
	align-items: center;
	justify-content: center;
}

.border {
	border-right: 5px black solid;
}

.narrowcol {
	height: 100%;
	width: 50%;
	display: block;
	background-color: #E0FFFF;
}

.img {
	height: 50%;
	width: 100%;
	display: flex;
	background-color: #E0FFFF;
	align-items: center;
	justify-content: center;
}

.mainbeach {
	max-width: 85%;
	max-height: 85%;
	border: 5px solid;
}

.mainsand {
	max-width: 85%;
	max-height: 85%;
	border: 5px solid;
}

.mainforest {
	max-width: 85%;
	max-height: 85%;
	border: 5px solid;
}

.maincity {
	max-width: 85%;
	max-height: 85%;
	border: 5px solid;
}

.smallboxes:hover {
	opacity: 0.7;
	cursor: pointer;
}

.sandcolor {
	background-color: #FFE4B5;
}

@media only screen and (max-width: 1250px) {
	
	body {
		display: block;
	}
	
	.widecol {
		height: 50%;
		width: 100%;
		display: block;
		border-right: none;
	}
	
	.title {
		height: 20%;
		width: 100%;
	}
	
	.mainimg {
		height: 60%;
		width: 100%;
	}
	
	.places {
		height: 20%;
		width: 100%;
	}
	
	.widecol2 {
		height: 100%;
		width: 100%;
	}
	
	.img {
		background-color: #E0FFFF;
	}
	
}

@media only screen and (max-width: 800px) {
	body {
		display: block;
	}
	
	.widecol {
		height: 50%;
		width: 100%;
		display: block;
		
	}
	
	.title {
		height: 10%;
		width: 100%;
		font-size: 60px;
	}
	
	.places {
		height: 10%;
		width: 100%;
		
	}
	.mainimg {
		height: 70%;
		width: 100%;
	}
	
	.places {
		height: 20%;
		width: 100%;
	}
	
	.widecol2 {
		height: 100%;
		width: 100%;
		display: block;
	}
	
	.narrowcol {
		height: 50%;
		width: 100%;
		display: block;
		background-color: #E0FFFF;
	}
	
	.img {
		height: 50%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #E0FFFF;
		
	}
}
